* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-1: #40a9ff;
  --primary-color: #1890ff;
  --primary-color-hover: #40a9ff;
  --error-color: #ff4d4f;
  --error-color-hover: #ff7875;
  --outline-color: rgba(24, 144, 255, .2);
}

.relative.relative {
  position: relative
}

.absolute.absolute {
  position: absolute;
}

.fixed.fixed {
  position: fixed;
}

.left.left {
  left: 0;
}

.top.top {
  top: 0;
}

.right.right {
  right: 0
}

.bottom.bottom {
  bottom: 0;
}

.flex.flex {
  display: flex;
}

.flex.flex {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-grow.flex-grow {
  flex-grow: 1;
}

.flex-shrink.flex-shrink {
  flex-shrink: 0;
}

.justify-content-center.justify-content-center {
  justify-content: center
}

.align-items-center.align-items-center {
  align-items: center;
}

.flex-direction-column.flex-direction-column {
  flex-direction: column
}

.width-20vw.width-20vw {
  width: 20vw;
}

.height-20vw.height-20vw {
  height: 20vw;
}

.absolute-center.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overflow-hidden.overflow-hidden {
  overflow: hidden;
}
